absl-py
addict
astunparse
cached-property
cachetools
certifi
charset-normalizer
contourpy
cycler
descartes
efficientnet
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
image-classifiers
imageio
importlib-metadata
importlib-resources
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
networkx
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pydot
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
Shapely
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
tifffile
tk
tomli
tqdm
typeguard
typing-extensions
urllib3
Werkzeug
wrapt
yapf
zipp